{% extends 'funcionario/base.html' %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Renda Total de Hoje</h4>
                <h1 class="text-center" style="color: green;">R${{ renda_total }}</h1>
            </div>


            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Total de Pedidos Hoje</h4>
                <h1 class="text-center" style="color: #ad0003;">{{ total_pedidos }}</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID do Pedido</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Pago?</th>
                            <th scope="col">Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <th scope="row">{{ pedido.id }}</th>
                            <td>{{ pedido.price }}</td>
                            <td>{{ pedido.nome }}</td>
                            <td>{{ pedido.email }}</td>
                            <td>
                                {% if pedido.pago %}
                                <i style="color:green;" class="fas fa-check"></i>
                                {% else %}    
                                <i style="color:red;" class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'detalhes-do-pedido' pedido.pk %}"><i class="far fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}