{% extends 'cliente/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 text-center">
            <h1>O que temos no Menu: </h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <form method="GET" action="{% url 'busca-menu' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Procurar no Menu" aria-label="Buscar" value="{{  request.GET.q  }}">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for item in itens_de_menu %}
        <div class="col-md-4 col-sm-12 text-center mb-5">
            <img class="rounded" src="{{  item.imagem.url  }}" width="350" height="300">
            <h5 class="mt-3">{{item.nome }}</h5>
            <p> Preço: R${{ item.preco }}</p>
            <p>{{  item.descricao  }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}