{% extends 'cliente/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1> Sobre Nós </h1>
        </div>   
    </div>
        <div class = "row justify-content-center mt-1">
            <div class= "col-md-10 col-sm-12 offset-md-1 p-4 text-center">
                <p>Desenvolvido por estudantes da Universidade Federal do Vale do São Francisco, o projeto para a Disciplina de Sistemas Distribuídos, ministrada pelo professor Jairson Rodrigues, foi realizado para a obtenção de segunda nota avaliativa e de conhecimento no framework Django.</p>
                <p> <b>Estudantes:</b></p>
                <p>Adão Thalisson Castro Guimarães</p> 
                <p>Fellipe Freire de Oliveira</p>
                <p>Manoel Ferreira de Santana Filho</p>
                <p>Marlon Campos Pereira</p>
            </div>
        </div>
</div>

{% endblock content %}